
/* ------------------------------- custom additions for App ------------------------------------------*/

.documentation > h4,
.documentation > h5,
.documentation > h6 {
  margin-top: 20px;
  margin-bottom: 18px;
}

.documentation > h2 {
  padding-top: 40px;
}

.documentation > h3 {
  padding-top: 30px;
}

.selectize-input.full,
.selectize-input {
  box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.05);
  border-radius: 1px;
}

.selectize-dropdown,
.selectize-dropdown.form-control {
  box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.05);
  border-radius: 1px;
}

.selectize-input.input-active,
.selectize-input.dropdown-active {
  box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.05);
  border-radius: 1px;
}

.input-active,
.dropdown-active {
  box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.05);
  border-radius: 1px;
}

.form-control {
  box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.05);
  border-radius: 1px;
}

.shiny-notification {
  background-color: #e95420;
  color: #ffffff;
  box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.05);
  border-radius: 1px;
}

.tutbox {
  z-index: 3;
  position: absolute;
  top: 20px;
  right: 15px;
  overflow: auto;
}

/* @media (orientation: portrait) {
  .tutbox {
    position: relative;
    width: 90%;
    margin: auto;
  }
} */
er-select
@media (max-width: 700px) {
  .tutbox {
    position: relative;
    width: 90%;
    margin: auto;
  }
}

.guide-button {
  background-color: #e95420;
  color: #ffffff;
  box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.05);
  border: 1px solid #888888;
  border-radius: 1px;
  cursor: pointer;
  float: left;
  padding: 4px 10px;
  margin: 2px;
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
}

.guide-button:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.guide-button.clicked {
  background-color: black;
}

.loading-overlay {
  z-index: 2018;
}

.login-overlay {
  z-index: 2017
}

.loading-overlay,
.login-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    rgba(255, 255, 255, 1) 25%,
    rgba(255, 255, 255, 0.5) 75%
  );
}

.loading-overlay img {
  margin: auto;
  width: 80px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.quick-tip {
  margin: auto;
  width: 40%;
  position: relative;
  text-align: center;
  top: 60%;
}

.tip-text {
  font-weight: bold;
}

.login-overlay {
  display: none;
}

.login-form {
  position: absolute;
  background-color: white;
  margin: auto;
  min-width: 20%;
  top: 35%;
  left: 35%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  padding: 10px;
}

.introjs-hint-pulse {
  background-color: rgba(233, 84, 33, 0.5);
}

.documentation {
  margin: auto;
  padding: 20px;
  max-width: 75%;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  color: #353535;
  border-radius: 2px;
}

@media (max-width: 1520px) {
  .documentation {
    margin-right: 20px;
  }
}

@media (max-width: 730px) {
  .documentation {
    max-width: 100%;
  }
  .documentation.header.h-small {
    display: none;
  }
}

.documentation img {
  max-width: 80%;
}

.documentation .anno-elem {
  border-top: thin solid #aaaaaa;
}

.documentation .anno-elem > h1 {
  font-size: 13pt;
  color: unset;
  text-shadow: unset;
  margin-bottom: 0px;
}

.documentation .anno-elem > p.date {
  font-size: 10pt;
  color: #aaaaaa;
}

.documentation.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #ffffff;
}

.documentation.header li {
  float: left;
  margin-left: 42px;
}

.documentation.header.h-small li {
  float: unset;
  margin-left: -38px;
}

.documentation.header img {
  max-width: 100%;
  width: 500px;
}

.documentation.header img:hover {
  box-shadow: 0 0 10px #e9542020;
}

.documentation.header.h-small {
  background-color: #fffffffa;
  right: unset;
  animation: getSmall 0.3s ease-in forwards;
}

@keyframes getSmall {
  0% {
    margin-top: 20px;
  }
  100% {
    margin-top: 0;
  }
}

.documentation.header.h-small img {
  animation: getSmallImg 0.3s ease-in forwards;
}

@keyframes getSmallImg {
  0% {
    width: 500px;
  }
  100% {
    width: 150px;
  }
}

.documentation.header .nav-container {
  float: right;
  margin-top: -42px;
}

.documentation.header.h-small .nav-container {
  float: unset;
  margin-top: 0;
}

.documentation.header .nav-container ul {
  overflow: hidden;
  list-style: none;
}

.documentation.header h1 {
  font-size: 36px;
  padding-top: 0
}

.documentation.header.h-small h1{
  animation: getSmallH 0.3s ease-in forwards;
}

@keyframes getSmallH {
  0% {
    font-size: 36px;
  }
  100% {
    font-size: 21px;
  }
}

footer {
  padding: 5px;
  box-shadow: 0 -2px 20px rgba(0, 0, 0, 0.05);
  bottom: 0;
  left: 0;
  width: 100%;
  position: fixed;
  margin: 0;
  text-align: center;
  background: white;
}

footer:hover {
  box-shadow: 0 -2px 20px rgba(0, 0, 0, 0.5);
}

.signature {
  margin: 0;
}

.glyphicon-chevron-up,
.glyphicon-chevron-down {
  cursor: pointer;
}

.signature.contact {
  display: none;
  margin-top: 5px;
}

.sort-box {
  background-color: #e95420;
}

.paginate_button.current {
  background-image: none !important;
  background-color: #e95420 !important;
  color: #ffffff !important;
}

.paginate_button:focus {
  background-image: none !important;
  background-color: rgba(233, 84, 33, 0.5) !important;
  color: #ffffff !important;
}

.paginate_button:hover {
  background-image: none !important;
  background-color: rgba(233, 84, 33, 0.5) !important;
  color: #ffffff !important;
}

.paginate_button {
  border-radius: 1px !important;
  border: none !important;
}

.revTip {
  width: 210px;
  background-color: #e95420;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 34%;
  margin-left: -60px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.revTip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #e95420 transparent transparent transparent;
}

.introjs-helperNumberLayer {
  background: #e95420;
  border: 1px solid #333333;
  border-radius: 2px;
}

.introjs-arrow.left,
.introjs-arrow.left-bottom {
  left: -20px;
  border-color: white transparent transparent transparent;
  border-top-color: transparent;
  border-right-color: white;
  border-bottom-color: transparent;
  border-left-color: transparent;
}

.introjs-arrow.top {
  border-color: transparent transparent white;
}

.introjs-bullets ul li a.active {
  background: #e95420;
  box-shadow: 0 0 8px #e95420;
}

.introjs-tooltip {
  background-color: white;
  color: black;
  border-radius: 1px;
}

.introjs-button {
  color: black;
}
.introjs-button:focus,
.introjs-button:hover,
.introjs-button:active {
  border-color: #666;
  color: black;
}

.introjs-helperLayer {
  border-radius: 1px;
}

.shiny-text-output {
  border-radius: 1px;
  background-color: #ffffff;
  font-family: "Open Sans Condensed", sans-serif;
}

.advanced-options {
  margin-top: 10px;
  margin-bottom: 10px;
}

.form-check-label {
  display: block;
  padding: 0;
}

.form-check {
  margin: 5px;
}

/* The switch - the box around the slider */
.form-check-label .switch {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 15px;
  font-weight: normal;
  vertical-align: middle;
  margin-bottom: 2px;
}

/* Hide default HTML checkbox */
.form-check-label .switch input {
  display: none;
}

/* The slider */
.form-check-label .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.form-check-label .slider:before {
  position: absolute;
  content: "";
  height: 11px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.form-check-label input:checked + .slider {
  background-color: #d34615;
}

.form-check-label input:focus + .slider {
  box-shadow: 0 0 1px #d34615;
}

.form-check-label input:checked + .slider:before {
  -webkit-transform: translateX(9px);
  -ms-transform: translateX(9px);
  transform: translateX(9px);
}

/* Rounded sliders */
.form-check-label .slider.round {
  border-radius: 12px;
}

.form-check-label .slider.round:before {
  border-radius: 50%;
}

.checkbox label:after,
.radio label:after {
  content: "";
  display: table;
  clear: both;
}

.checkbox .cr,
.radio .cr {
  position: relative;
  display: inline-block;
  border: 1px solid #a9a9a9;
  border-radius: 0.25em;
  width: 1.3em;
  height: 1.3em;
  float: left;
  margin-right: 0.5em;
}

.radio .cr {
  border-radius: 50%;
}

/* Cool checkbox */
.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
  position: absolute;
  font-size: 1em;
  line-height: 0;
  top: 50%;
  left: 10%;
  color: #d34615;
}

.radio .cr .cr-icon {
  margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
  display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
  transform: scale(3) rotateZ(-20deg);
  opacity: 0;
  transition: all 0.3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
  transform: scale(1) rotateZ(0deg);
  opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
  opacity: 0.5;
}

/* better switcher */
.cool-switch {
  padding: 5px;
}

.cool-switch .list-group-item {
  display: inline-flex;
}

.cool-switch .switch {
  display: inline-block;
}

.cool-switch .material-switch {
  display: inline-block;
}

.cool-switch .text-label {
  cursor: pointer;
  font-weight: normal;
  text-align: -webkit-match-parent;
  user-select: none;
}
/* https://bootsnipp.com/snippets/featured/material-design-switch */
.material-switch > input[type="checkbox"] {
  display: none;
}

.material-switch > label {
  cursor: pointer;
  height: 0px;
  position: relative;
  width: 35px;
}

.material-switch > label::before {
  background: rgb(0, 0, 0);
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.6);
  border-radius: 8px;
  content: "";
  height: 14px;
  margin-top: -7px;
  position: absolute;
  opacity: 0.3;
  transition: all 0.4s ease-in-out;
  width: 32px;
}
.material-switch > label::after {
  background: rgb(255, 255, 255);
  border-radius: 16px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  content: "";
  height: 20px;
  left: -2px;
  margin-top: -8px;
  position: absolute;
  top: -2px;
  transition: all 0.3s ease-in-out;
  width: 20px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
  background: inherit;
  opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
  background: inherit;
  left: 15px;
}

/* smaller version */
.material-switch.sm > label {
  width: 25px;
}

.cool-switch.sm .text-label {
  margin-bottom: 2px;
}

.material-switch.sm > label::before {
  height: 10px;
  margin-top: -6px;
  width: 20px;
}
.material-switch.sm > label::after {
  height: 15px;
  left: -3px;
  margin-top: -6px;
  width: 15px;
}
.material-switch.sm > input[type="checkbox"]:checked + label::before {
  background: inherit;
  opacity: 0.5;
}
.material-switch.sm > input[type="checkbox"]:checked + label::after {
  background: inherit;
  left: 8px;
}

.table-striped > tbody > tr:nth-child(odd) {
  background-color: #ffeee6;
}

.table-hover > tbody > tr:hover,
.table-hover > tbody > tr.selected,
.table-striped > tbody > tr:nth-child(odd):hover {
  background-color: #ffcfc1 !important;
}

.table-striped > tbody > tr:nth-child(even) {
  background-color: white;
}

.table-striped > thead {
  background-color: white;
}

.pop {
  margin: 2px;
  float: right;
  width: 100%;
}

.pop-overlay {
  display: block;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 110%;
  background-color: black;
  z-index: 1001;
  -moz-opacity: 0.8;
  opacity: 0.8;
  filter: alpha(opacity=80);
  overflow: hidden;
}

.network-box {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: white;
  border: solid thin #eeeeee;
  padding: 10px;
  overflow: hidden;
  z-index: 1001;
}

.network-box .row {
  margin-bottom: 0;
}

.conn-nodes-btns {
  overflow: hidden;
}

.conn-nodes-btns > button {
  float: left;
  border: unset;
  border-top: solid thin #aea79f;
  border-bottom: solid thin #aea79f;
  padding-top: 6px;
  padding-bottom: 6px;
}

.conn-nodes-btns > pre {
  float: left;
  border: unset;
  padding: 9px;
  border-top: solid thin #aea79f;
  border-bottom: solid thin #aea79f;
  padding-top: 7px;
  padding-bottom: 7px;
}

.dt-popup {
  position: absolute;
  background-color: white;
  padding: 2px;
  margin: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.dt-popup:focus {
  outline: 0;
}

.dt-ext-btn {
  border: none;
}

.dt-button.buttons-print,
.dt-button.buttons-pdf,
.dt-button.buttons-excel,
.dt-button.buttons-csv,
.dt-button.buttons-copy {
  background: #aea79f;
  color: white;
  border: none;
  border-radius: 1px;
}

.dt-button.buttons-print:hover,
.dt-button.buttons-pdf:hover,
.dt-button.buttons-excel:hover,
.dt-button.buttons-csv:hover,
.dt-button.buttons-copy:hover,
.dt-button.buttons-print:hover:not(.disabled),
.dt-button.buttons-pdf:hover:not(.disabled),
.dt-button.buttons-excel:hover:not(.disabled),
.dt-button.buttons-csv:hover:not(.disabled),
.dt-button.buttons-copy:hover:not(.disabled),
.dt-button.buttons-print:focus,
.dt-button.buttons-pdf:focus,
.dt-button.buttons-excel:focus,
.dt-button.buttons-csv:focus,
.dt-button.buttons-copy:focus,
.dt-button.buttons-print:focus:not(.disabled),
.dt-button.buttons-pdf:focus:not(.disabled),
.dt-button.buttons-excel:focus:not(.disabled),
.dt-button.buttons-csv:focus:not(.disabled),
.dt-button.buttons-copy:focus:not(.disabled) {
  background: #978e83;
  color: white;
  border: none;
  border-radius: 1px;
}

.dataTables_scrollBody {
  background-color: white !important;
  background-image: none !important;
}

#downloadRes {
  margin-top: 4px;
}

.node-info-tab {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
  overflow: auto;
  height: 100%;
  padding: 0;
  display: none;
}

.node-info-box {
  position: relative;
  z-index: 999;
  bottom: 0vh;
  right: 0vh;
  background: white;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  margin: 3px 3px;
  padding: 5px 2px;
  overflow: hidden;
}

.node-info-close {
  font-size: 15pt;
  cursor: pointer;
}

.node-info td {
  padding-left: 10px;
  padding-right: 10px;
}

.node-info .nodeInfoSymbol {
  font-weight: bold;
}

.node-info .go-list {
  display: none;
  padding: 0;
  list-style: none;
  max-height: 250px;
  overflow: auto;
}

.node-info .showListOnto {
  cursor: pointer;
}

.footerToggle {
  cursor: pointer;
}

.btn-default.top-pop {
  position: relative;
  background-color: #e95420;
  border-color: #00000038;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
  z-index: 2013;
}

.table-box {
  background-color: white;
  width: 90%;
  overflow: hidden;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 10px;
}

.ontotree-box {
  background-color: white;
  width: 90%;
  height: 90%;
  overflow: hidden;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 10px;
}

.ontotree-legend {
  position: absolute;
  margin-top:25px;
}

.ontotree-legend td {
  padding-right: 10px;
}

.ontotree-legend span {
  font-size: 26px;
}

.sortable-placeholder {
  height: 132px;
  margin: 5px;
  border-radius: 3px;
  background-color: #e9542020;
}

.node-info-box.ui-sortable-helper {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.sorting-area {
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 400px;
  margin: 0 auto;
  padding: 5px;
  overflow: hidden;
}

.sorting-area > div > .sortable-placeholder {
  height: 75px;
  margin: 5px;
}

.heat-sort-info {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  height: 75px;
  padding: 10px;
  margin: 5px;
  background-color: white;
}

.heat-sort-info.ui-sortable-helper {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.heat-sort-info h4 {
  color: #e95420;
  margin: 0;
}

.drag-arrow {
  text-align: center;
  line-height: 56px;
  font-size: 22pt;
  padding-right: 0;
}

.node-info-box:hover .drag-arrow .fa-arrows-v,
.heat-sort-info:hover .drag-arrow .fa-arrows-v {
  animation: iconpulse 2s infinite ease-in-out backwards;
}

@keyframes iconpulse {
  0% {
    font-size: 22pt;
  }
  20% {
    font-size: 24pt;
  }
  100% {
    font-size: 22pt;
  }
}

.node-info-box.ui-sortable-helper .drag-arrow .fa-arrows-v,
.heat-sort-info.ui-sortable-helper .drag-arrow .fa-arrows-v {
  animation: icongrabbed ease-in forwards;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
}

@keyframes icongrabbed {
  0% {
    color: black;
  }
  100% {
    color: #e95420;
  }
}

#interactions td:nth-child(2) {
  text-align: center;
}

p.lead.text-muted {
  position: relative;
}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #e95420;
  position: fixed;
  z-index: 8000;
  top: unset;
  bottom: 30px;
  right: 100%;
  width: 100%;
  height: 2px;
}

.pace .pace-progress-inner {
  display: block;
  position: absolute;
  right: 0px;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 10px #e95420, 0 0 5px #e95420;
  opacity: 1;
  -webkit-transform: rotate(0deg) translate(0px, 0px);
  -moz-transform: rotate(0deg) translate(0px, 0px);
  -ms-transform: rotate(0deg) translate(0px, 0px);
  -o-transform: rotate(0deg) translate(0px, 0px);
  transform: rotate(0deg) translate(0px, 0px);
}

.pace .pace-progress:after {
  display: block;
  position: absolute;
  top: 0;
  right: 0.5rem;
  content: attr(data-progress-text);
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 50;
  font-size: 2.5rem;
  line-height: 1;
  text-align: right;
  color: rgba(221, 100, 34, 0.2);
}

.pace.pace-text-info {
  display: block;
  position: absolute;
  top: unset;
  bottom: -8px;
  left: 9px;
  text-align: left;
  margin: 10px;
  margin-left: 20px;
  font-weight: bold;
  color: #e95420;
  /* border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  background-color: #e954201a; */
  width: 20%;
  padding: 2px;
  padding-left: 8px;
  z-index: 8000;
}

.pace .pace-activity {
  display: block;
  position: fixed;
  z-index: 2000;
  top: unset;
  bottom: 8px;
  left: 15px;
  width: 14px;
  height: 14px;
  border: solid 2px transparent;
  border-top-color: #e95420;
  border-left-color: #e95420;
  border-radius: 10px;
  -webkit-animation: pace-spinner 400ms linear infinite;
  -moz-animation: pace-spinner 400ms linear infinite;
  -ms-animation: pace-spinner 400ms linear infinite;
  -o-animation: pace-spinner 400ms linear infinite;
  animation: pace-spinner 400ms linear infinite;
}

@-webkit-keyframes pace-spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes pace-spinner {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes pace-spinner {
  0% {
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-ms-keyframes pace-spinner {
  0% {
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes pace-spinner {
  0% {
    transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.form-message {
  float: right;
  color: #e41a1c;
}

.container-fluid {
  padding-right: 0px;
}

.horizontal-controls {
  overflow-x: auto;
}

@media (max-width: 1365px) {
  .horizontal-controls{
    padding-bottom: 5px;
  }
  .horizontal-controls.left {
    box-shadow: inset -18px 0 10px -14px rgba(0,0,0,0.1);
    border-radius: 0 10px 10px 0;
  }
  .horizontal-controls.right {
    box-shadow: inset 18px 0 10px -14px rgba(0,0,0,0.1);
    border-radius: 10px 0 0 10px;
  }
  .horizontal-controls.left.right {
    box-shadow:
    inset -18px 0 10px -14px rgba(0,0,0,0.1),
    inset 18px 0 10px -14px rgba(0,0,0,0.1);
    border-radius: 10px;
  }
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 10px;
  background: lightgray;
  outline: none;
  border-radius: 8px;
  padding: 0;
  margin-top: 9px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: #e95420;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: #e95420;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.horizontal-controls .col-md-2 {
  border-right: solid thin rgba(0,0,0,0.1);
}

.horizontal-controls .col-md-2:last-child {
  border-right: none;
}

.modal-body > pre {
  height: 500px;
}
