<div id='heatSortingOverlay' class='login-overlay' style="display:none;">
  <div class='sorting-area'>
      <h4 style='text-align:center;'>Order of analyses in heat map</h4>
      <p style='text-align:center;'>First entry here is the leftmost column in the heat map.<br>Drag and drop entries to rearrange.</p>
    <div id='heatSortBox' style='box-shadow:inset 0 0 5px rgba(0,0,0,0.5);padding:1px 0;margin:0 10px;'>
      {% for idx in range(n) %}
      <div class='heat-sort-info' data-value='{{ids[idx]}}' draggable='true'>
        <div class='row'>
          <div class='col-md-11'>
            <h4>{{names[idx]}}</h4>
            <p>{{species[idx]}}</p>
          </div>
          <div class='col-md-1 drag-arrow'>
            <span class='fa fa-arrows-v'></span>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <button id='cancelSorting' style="margin:10px;" type='button' class='btn btn-default action-button'>Cancel
        <span class='fa fa-times' style="font-size: 18px;"></span>
      </button>
    <button id='applySorting' style="float:right;margin:10px;" type='button' class='btn btn-primary action-button'>Apply
      <span class='fa fa-check' style="font-size: 18px;"></span>
    </button>
  </div>
</div>