{% extends 'layout-static.html' %} {% block content %}

<div class="documentation">
  <a href="{{ url_for('home') }}">
    <img src="/static/img/brand-logo@2x.png" style="width:500px;max-width:100%;" alt="WEADE - Workflow for Enrichment Analysis and Data Exploration">
  </a>
  <a href="http://sfb873.de">
    <img style="width: 100px; float:right;" src="/static/img/Logo_SFB873.png" alt="SFB 873">
  </a>
  <br>
  <p>
    WEADE in its core is a web application for GO Term enrichment analysis. Its additional features turn it into a complete workflow
    for sequencing data analysis:
    <ul>
      <li>Grouping into predefined and custom high-order categories</li>
      <li>In app cross-dataset and cross-species comparisons</li>
      <li>Interactive heat-maps, plots and tables</li>
      <li>Venn diagram for overlapping and subsetting datasets</li>
      <li>Analysis of thresholded gene lists and lists with continuous measures</li>
    </ul>
  </p>
  <p>
    <a href="{{ url_for('weade') }}">Click here for the app!</a>
  </p>
  <p>
    <a href="{{ url_for('documentation') }}">Or here for the documentation.</a>
  </p>
  <p>
    If you use WEADE in your research, please cite: <br>
    <a href="https://doi.org/10.1371/journal.pone.0204016">Trost N, Rempel E, Ermakova O, Tamirisa S, Pârcălăbescu L, Boutros M, et al. (2018) WEADE: A workflow for enrichment analysis and data exploration. PLoS ONE 13(9): e0204016. https://doi.org/10.1371/journal.pone.0204016</a>
  </p>
</div>
<div class="documentation">
  <h3>Announcements</h3>
  <div class="anno-elem">
    <h1>Version 2.2 released</h1>
    <p class="date">January 1, 2023</p>
    <p>
      With version 2.2, we fixed some long standing bugs and updated the gene annotations to the latest versions of Ensembl.
    </p>
  </div>
  <div class="anno-elem">
    <h1>Version 2.1 released</h1>
    <p class="date">July 12, 2018</p>
    <p>
      With version 2.1 of WEADE, we integrate Reactome.org data to find enriched pathways in the pairwise interaction search.
    </p>
  </div>
  <div class="anno-elem">
    <h1>Version 2.0 released</h1>
    <p class="date">May 25, 2018</p>
    <p>
      We're excited to announce the release of version 2.0 of WEADE. This release brings large performance increases as well as
      an overhaul of the user interface.
    </p>
  </div>
  <div class="anno-elem">
    <h1>Version 1.6 released</h1>
    <p class="date">December 7, 2017</p>
    <p>
      As of version 1.6 it is possible to find ligand-receptor interaction pairs between two data sets in the history tab. This
      uses GO annotations and BioGRID interactions to find potential interaction partners in each set.
    </p>
  </div>
  <div class="anno-elem">
    <h1>New URL and Version 1.5.1</h1>
    <p class="date">October 27, 2017</p>
    <p>
      WEADE is now available under the much more readable address:
      <a href="http://beta-weade.cos.uni-heidelberg.de">weade.cos.uni-heidelberg.de</a>.
    </p>
    <p>
      Additionally, version 1.5.1 adds the possibility to use gene symbols instead of identifiers in the input file.
    </p>
  </div>
  <div class="anno-elem">
    <h1>Version 1.5 released</h1>
    <p class="date">October 20, 2017</p>
    <p>
      Version 1.5 brings functional interaction networks to WEADE! After adding genes to the collection, they can be displayed
      in a network. Further information can be found in the documentation.
    </p>
  </div>
  <div class="anno-elem">
    <h1>Version 1.0 released</h1>
    <p class="date">September 13, 2017</p>
    <p>
      We're glad to announce that version 1.0 of WEADE, our app for enrichment analysis and data exploration is now available.
    </p>
  </div>
</div>

{% endblock %}