<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{ title }}</title>
  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="/static/img/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon-16x16.png">
  <link rel="manifest" href="/static/img/manifest.json">
  <link rel="mask-icon" href="/static/img/safari-pinned-tab.svg" color="#e95420">
  <link rel="shortcut icon" href="/static/img/favicon.ico">
  <meta name="msapplication-config" content="/static/img/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">
  <!-- Favicon -->
  <link rel="stylesheet" type="text/css" href="/static/content/cssreset-min.css">
  <link rel="stylesheet" type="text/css" href="/static/content/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/static/content/jquery-ui.min.css" />
  <link rel="stylesheet" type="text/css" href="/static/content/font-awesome.min.css" />
  <link rel="stylesheet" type="text/css" href="/static/content/selectize.bootstrap3.css" />
  <link rel="stylesheet" type="text/css" href="/static/content/sweetalert.css" />
  <link rel="stylesheet" type="text/css" href="/static/content/vis.min.css" />
  <link rel="stylesheet" type="text/css" href="/static/content/dataTables.bootstrap4.min.css" />
  <link rel="stylesheet" type="text/css" href="/static/content/select.dataTables.min.css" />
  <link rel="stylesheet" type="text/css" href="/static/content/scroller.dataTables.min.css" />
  <!-- Save as datatable buttons -->
  <link rel="stylesheet" type="text/css" href="/static/content/buttons.dataTables.min.css" />
  <!-- Save as datatable buttons -->
  <link rel="stylesheet" type="text/css" href="/static/content/introjs.min.css">
  <link rel="stylesheet" type="text/css" href="/static/content/introjs-modern.css">
  <link rel="stylesheet" type="text/css" href="/static/content/legacy-style.min.css" />
  <link rel="stylesheet" type="text/css" href="/static/content/style.css" />
  <script type="text/javascript" src="/static/js/jquery-3.2.1.min.js"></script>
  <script type='text/javascript' src="/static/js/intro.min.js"></script>
  <script type='text/javascript' src='/static/js/guide.js'></script>
  <script type='text/javascript' src="/static/js/tether.min.js"></script>

  <script type="text/javascript" src="/static/js/sweetalert.min.js"></script>
  <script type="text/javascript" src="/static/js/jquery.ui.widget.js"></script>
  <script type="text/javascript" src="/static/js/jquery-ui.min.js"></script>
  <script type="text/javascript" src="/static/js/jquery.iframe-transport.js"></script>
  <script type="text/javascript" src="/static/js/jquery.fileupload.js"></script>
  <script type="text/javascript" src="/static/js/file-upload.js"></script>
  <script type="text/javascript" src="/static/js/custom-backgr-cat.js"></script>
  <script type="text/javascript" src="/static/js/venn.js"></script>
  <script type="text/javascript" src="/static/js/plotly-extension.js"></script>
  <script type="text/javascript" src="/static/js/selectize.js"></script>
  <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/static/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="/static/js/dataTables.bootstrap4.min.js"></script>
  <script type="text/javascript" src="/static/js/dataTables.scroller.min.js"></script>
  <script type="text/javascript" src="/static/js/dataTables.select.min.js"></script>
  <!-- Save as datatable buttons -->
  <script type="text/javascript" src="/static/js/dataTables.buttons.min.js"></script>
  <script type="text/javascript" src="/static/js/buttons.flash.min.js"></script>
  <script type="text/javascript" src="/static/js/jszip.min.js"></script>
  <script type="text/javascript" src="/static/js/pdfmake.min.js"></script>
  <script type="text/javascript" src="/static/js/vfs_fonts.js"></script>
  <script type="text/javascript" src="/static/js/buttons.html5.min.js"></script>
  <script type="text/javascript" src="/static/js/buttons.print.min.js"></script>
  <!-- Save as datatable buttons -->
  <script type="text/javascript" src="/static/js/dataTables.altEditor.free.js"></script>
  <script type="text/javascript" src="/static/js/network.js"></script>
  <script type="text/javascript" src="/static/js/ontotree.js"></script>
  <script type="text/javascript" src="/static/js/popovers.js"></script>
  <script type="text/javascript" src="/static/js/editTable.js"></script>
  <script type="text/javascript" src="/static/js/3dHeatmap.js"></script>
  <script type="text/javascript" src="/static/js/functions.js"></script>
  <script type="text/javascript" src="/static/js/plotly-latest.min.js"></script>
  <script type="text/javascript" src="/static/js/vis.js"></script>
</head>

<body id='body'>

  <div class="loading-overlay" style="display:none;">
    <img src="/static/img/golo.gif" />
  </div>

  <div class="pace pace-text-info" style="display:none;"></div>

  <div class="pop-overlay" style="display:none;"> </div>

  {% block content %}{% endblock %} {% block scripts %}{% endblock %}

  <footer>
    <p class='signature'>&copy; {{year}} - Nils Jonathan Trost, Eugen Rempel, Letiția
      Pârcălăbescu&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;&nbsp;Contact&nbsp;&nbsp;
      <i class="fa fa-chevron-down footerToggle"></i>&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ url_for('termsOfUse') }}">Terms
        of Use</a>
    </p>
    <p class='signature contact'> Nils Trost
      <br>Im Neuenheimer Feld 282
      <br>69120 Heidelberg
      <br>Germany
      <br>email:
      <strong>nils.trost@stud.uni-heidelberg.de</strong>
  </footer>

</body>

</html>