<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="google-site-verification" content="5ZwGO4Ke7eJEuXuGBZuyqOM748RlsDE6ulYhBPMufQc" />
  <title>{{ title }}</title>
  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="/static/img/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon-16x16.png">
  <link rel="manifest" href="/static/img/manifest.json">
  <link rel="mask-icon" href="/static/img/safari-pinned-tab.svg" color="#e95420">
  <link rel="shortcut icon" href="/static/img/favicon.ico">
  <meta name="msapplication-config" content="/static/img/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">
  <!-- Favicon -->
  <link rel="stylesheet" type="text/css" href="/static/content/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/static/content/font-awesome.min.css" />
  <link rel="stylesheet" type="text/css" href="/static/content/legacy-style.min.css" />
  <link rel="stylesheet" type="text/css" href="/static/content/style.css" />
  <script type="text/javascript" src="/static/js/jquery-3.2.1.min.js"></script>
  <script src="/static/js/contact-foldout.js"></script>
  <script src="/static/js/docuHeader.js"></script>
</head>

<body id='body'>

  {% block content %}{% endblock %} {% block scripts %}{% endblock %}

  <footer>
    <p class='signature'>&copy; {{year}} - Nils Jonathan Trost, Eugen Rempel, Letiția
      Pârcălăbescu&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;&nbsp;Contact&nbsp;&nbsp;
      <i class="fa fa-chevron-down footerToggle"></i>&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ url_for('termsOfUse') }}">Terms
        of Use</a>
    </p>
    <p class='signature contact'> Nils Trost
      <br>Im Neuenheimer Feld 282
      <br>69120 Heidelberg
      <br>Germany
      <br>email:
      <strong>nils.trost@stud.uni-heidelberg.de</strong>
  </footer>

</body>

</html>