<div class="node-info-box" id='{{node}}' draggable="true">
  <div class="row">
    <div class="col-md-11">
      <table class="node-info">
        <tbody>
          <tr>
            <td>Symbol:</td>
            <td class="node-info-symbol">{{symbol}}</td>
          </tr>
          <tr>
            <td>Gene ID:</td>
            <td>
              <a href="{{species_link}}" target="_blank">{{node}}</a>
            </td>
          </tr>
          <tr>
            <td>Analysis:</td>
            <td style="color:{{analysis_color}}; font-weight:bold;">{{analysis_name}}</td>
          </tr>
          <tr>
            <td rowspan="3" valign="top">GO Terms:</td>
            <td>
              <span class='showListOnto'>
                <i class='fa fa-chevron-down'></i>BP
              </span>
              <ul class='go-list'>
                {% for term in bp_terms %}
                <li>
                  <a href="https://www.ebi.ac.uk/QuickGO/term/{{term[0]}}" target="_blank">{{term[1]}}</a>
                </li>
                {% endfor %}
              </ul>
            </td>
          </tr>
          <tr>
            <td>
              <span class='showListOnto'>
                <i class='fa fa-chevron-down'></i>CC
              </span>
              <ul class='go-list'>
                {% for term in cc_terms %}
                <li>
                  <a href="https://www.ebi.ac.uk/QuickGO/term/{{term[0]}}" target="_blank">{{term[1]}}</a>
                </li>
                {% endfor %}
              </ul>
            </td>
          </tr>
          <tr>
            <td>
              <span class='showListOnto'>
                <i class='fa fa-chevron-down'></i>MF
              </span>
              <ul class='go-list'>
                {% for term in mf_terms %}
                <li>
                  <a href="https://www.ebi.ac.uk/QuickGO/term/{{term[0]}}" target="_blank">{{term[1]}}</a>
                </li>
                {% endfor %}
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-1 drag-arrow">
      <div class="node-info-close">
        <i class='fa fa-times'></i>
      </div>
      <span class='fa fa-arrows-v'></span>
    </div>
  </div>
</div>