{% extends 'layout-static.html' %} {% block content %}

<div class="documentation">
  <a href="{{ url_for('home') }}">
    <img src="/static/img/brand-logo@2x.png" style="width:500px;max-width:100%;" alt="WEADE - Workflow for Enrichment Analysis and Data Exploration">
  </a>

  <h1>Nutzungsbedingungen</h1>
  <h2>Allgemein</h2>
  <ol>
    <li>Wir haften nicht für Verlust an hochgeladenen Daten.</li>
    <li>Wir übernehmen keine Haftung für die Richtigkeit oder Vollständigkeit der auf WEADE dargestellten Daten.</li>
    <li>Wir behalten uns das Recht vor, unsere Nutzungsbedingungen jederzeit zu ändern. Das Datum der letzten
      Überarbeitung wird unten auf dieser Seite angezeigt.</li>
    <li>Durch die Verwendung von WEADE stimmen Sie unseren Nutzungsbedingungen zu.</li>
    <li>Fragen zu den Nutzungsbedingungen oder andere Anfragen oder Kommentare zu WEADE können an Nils Trost,
      nils.trost@stud.uni-heidelberg.de, gerichtet werden</li>
  </ol>

  <h2>Hochgeladene Daten</h2>
  <ol>
    <li>WEADE speichert Ihre hochgeladenen Daten nicht dauerhaft.</li>
    <li>Ihre Daten werden nur während der Sitzung zum Durchführen der Analysen gespeichert und beim erneuten Laden oder
      Schließen der Browserregisterkarte oder des Fensters gelöscht.</li>
    <li>Ihre hochgeladenen Daten werden auf dem Server so gespeichert, dass sie für uns oder Dritte nicht zugänglich
      sind.</li>
  </ol>

  <h2>Cookies</h2>
  <ol>
    <li>Die Anwendung benötigt temporäre Cookies, um zu funktionieren. Diese Cookies verfallen am Ende der Sitzung.</li>
    <li>Wir verwenden Matomo, um die Verwendung der Anwendung zu analysieren. Diese Daten werden nur anonymisiert auf
      unseren Servern gespeichert und nicht an Dritte weitergegeben. Weitere Informationen finden Sie im Abschnitt
      "Persönliche Daten". Aus diesem Grund wird ein Tracking-Cookie verwendet, der im nachfolgenden Dialog deaktiviert
      werden kann.</li>
    <iframe style="border: 0; height: 200px; width: 600px;" src="http://analytics.blebli.de/index.php?module=CoreAdminHome&action=optOut&language=de&backgroundColor=&fontColor=&fontSize=11pt&fontFamily=sans-serif"></iframe>
  </ol>

  <h2>Personenbezogene Daten</h2>
  <ol>
    <li>Wir speichern keine personenbezogenen Daten von Ihnen, außer Ihrer anonymisierten IP-Adresse und dem Zeitpunkt Ihrer
      Nutzung von WEADE. Dies wird protokolliert, um potenzielle Fehler in der Anwendung besser zu untersuchen und die
      Server entsprechend der Nutzungslast zu skalieren. Die IP-Adressen werden unmittelbar nach der Aufzeichnung
      gekürzt. Die letzten 12 Bits der IPv4-Adressen und die letzten 84 Bits der IPv6-Adressen werden maskiert. Mit
      diesen Daten können keine persönlichen Profile erstellt werden.</li>
    <li>Ihre Daten werden nicht an Dritte weitergegeben und nur lokal auf unseren Servern gespeichert.</li>
    <li>Sie haben das Recht, Ihre personenbezogenen Daten, die auf unserem Server gespeichert sind, einzusehen und deren Löschung zu beantragen.</li>
  </ol>

  <h3>Datenschutzerklärung der Universität Heidelberg</h3>
  <p>
    Die Universität Heidelberg betreibt den Server, auf dem WEADE läuft. Die Datenschutzerklärung ist unter diesem <a
      href="https://www.uni-heidelberg.de/datenschutzerklaerung_web.html">Link</a> einzusehen.
  </p>

  Zuletzt überarbeitet am 24. Mai 2018.

  <h1>Terms of Use</h1>
  <h2>General</h2>
  <ol>
    <li>We are not liable to you for any loss of data.</li>
    <li>We are not liable for the correctness or completeness of the data presented in WEADE.</li>
    <li>We reserve the right to change our terms of use at any time. The date of the latest revision is shown at the
      bottom of this page.</li>
    <li>By using WEADE, you agree to our terms of use.</li>
    <li>Any questions concerning the terms of use or any other request or comment on WEADE can be adressed to Nils
      Trost, nils.trost@stud.uni-heidelberg.de</li>
  </ol>

  <h2>Uploaded data</h2>
  <ol>
    <li>WEADE does not store your uploaded data permanently.</li>
    <li>Your data is only stored during the session to perform the analyses and deleted upon reloading or closing the
      browser tab or window.</li>
    <li>Your uploaded data is stored on the server in a way that it is not accessible for us or any third party.</li>
  </ol>

  <h2>Cookies</h2>
  <ol>
    <li>The application requires temporary cookies to function. These cookies expire at the end of the session.</li>
    <li>We use Matomo to analyse the usage of the application. This data is only stored in an annonymized fashion on
      our servers and not shared with any third party. See the personal data section for more information. For this
      reason, a tracking cookie is used, which can be disabled in the dialogue below.</li>
    <iframe style="border: 0; height: 200px; width: 600px;" src="http://analytics.blebli.de/index.php?module=CoreAdminHome&action=optOut&language=en&backgroundColor=&fontColor=&fontSize=11pt&fontFamily=sans-serif"></iframe>
  </ol>

  <h2>Personal data</h2>
  <ol>
    <li>We do not store any personal data of you except for your anonymised IP address and the time and date of your
      use of WEADE.
      This is logged for us to better investigate potential errors in the application as well as to properly scale the
      servers
      to the usage load. The IP adresses are shortened immediately after they are recorded, the last 12 bits of IPv4
      adresses
      and the last 84 bits of IPv6 adresses are masked. No personal profiles can be created with this data.</li>
    <li>Your data is not transferred to any third party and kept only locally on our servers.</li>
    <li>You have the right to see your personal data that is stored on our server and to request its deletion.</li>
  </ol>

  <h3>Privacy Statement of Heidelberg University</h3>
  <p>Heidelberg University hosts our web application. The Privacy statement can be found <a href="https://www.uni-heidelberg.de/datenschutzerklaerung_web.html">here</a>.</p>

  Last revised on the 24th of May 2018.
</div>

{% endblock %}